.head{
    display: flex;
    background-color: pink;
    height: 50px;
    font-size: 10px;
    color: blue;
    justify-content: space-around;
    margin-top: 5px;
}
h1:hover{
    color: greenyellow;
}
.footer{
    margin-top: 10px;
    display: flex;
    background-color: grey;
    color: rgb(178, 218, 32);
    text-align: center;
    justify-content: space-around;
    
}
.main-card{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    background-color: aqua;
    justify-content: space-between;

}
.cards{
    display: flex;
}
.card{
    border: 2px solid black;
    text-align: center;
    padding: 20px 10px;
    gap: 20px;
    background-color: orange;
}

.marq{
    margin-top: 20px;
    background-color: brown;
    color: chartreuse;
}
.ch{
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgba(255, 166, 0, 0.505);
  width: 22%;
  

}
.c{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
    justify-content: space-between;
    background-color: rgba(166, 0, 255, 0);
    /* height: 520px; */
}
.p{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    /* width: 300px; */
}
.rating{
    color: green;
}
img{
    margin-left: 25px;
    border-radius: 10px;
}

.ch {
    transition: all 0.3s ease;
    cursor: pointer;
}

.ch:hover {
    transform: translateY(-10px) scale(1.03);
    /* box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4); */
}
.mai{
    background-color: azure;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    margin-left: 10px;

}
.comm{
    margin-top: 20px;
    padding: 10px 10px;
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
}
